<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AttendanceKeeper.Properties.Settings.DTRDbaseConnectionString"
            connectionString="Data Source=.\JEXPRESS;AttachDbFilename=|DataDirectory|\Data\DTRDbase.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="AttendanceKeeper.Properties.Settings.DTRDbaseConnectionString1"
            connectionString="Data Source=.\JEXPRESS;AttachDbFilename=|DataDirectory|\DTRDbase.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="AttendanceKeeper.Properties.Settings.DTRDbaseConnectionString2"
            connectionString="Data Source=coco-PC\JExpress;Initial Catalog=DTRBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AttendanceKeeper.Properties.Settings.DTRDbaseConnectionString3"
            connectionString="Data Source=.\JEXPRESS;AttachDbFilename=C:\Program Files\247Solutions\DTRSetup\Data\DTRDbase.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="MachineSN-RNF" value="3162029440024" />
    <add key="MachineSN-Carmen" value="3483440480215"/>
    <add key="MachineSN-SCC" value="0420310300058" />
    <add key="MachineSN-Roxas" value="1721490080049"/>
    <add key="MachineSN" value="1721490080049" />
    <add key="MacKeyTemp" value="MAC-000000"/>
    <add key="MacKeyFinal-Roxas" value="MAC-940501"/>
    <add key="MacKeyFinal-RNF" value="MAC-940601"/>
    <add key="MacKeyFinal-Carmen"  value="MAC-940801"/>
    <add key="PrintAll" value="True"/>
    <add key="IPAddress" value="192.168.1.201"/>
    <add key="IPort" value="4370"/>
    <add key="ScreenType" value="BW"/>
  </appSettings>
</configuration>